## 6. Write a python program create csv file student.csv(sid,sname,city,contact) using 10 records. (in which 5 records input directly and 5 records take input from user) write records into this file.Read this file using csv module and print only those where city is 'Bardoli'.

In [15]:
import csv

In [16]:
l=[
    [1,'om','bardoli','1234567890'],
    [2,'sai','surat','3456789012'],
    [3,'ram','vyara','1234567123'],
    [4,'radha','ahmedabad','1234337890'],
    [5,'krishna','bardoli','1234467890'],
  ]

## write the direct records to student.csv

In [17]:
with open("D:/23BCA294/sqlite3/csv/student1.csv","w", newline='') as f:
    write = csv.writer(f)
    write.writerow(['sid','sname','city','contact'])
    write.writerows(l)

## insert 5 records from user

In [19]:
l1=[]
for i in range(6,11): #student IDs will start from 6 to 10
    # print (f"enter details for student{i}:")
    sname = input("enter name: ")
    city = input("enter city: ")
    contaCT = input("enter contact number: ")
    l1.append([i, sname, city, contact])

enter name:  harsh
enter city:  surat
enter contact number:  1234567890

NameError: name 'contact' is not defined